@font-face {
	font-family: 'TT_Skip-E 85W';
	src: url("../fonts/GIfont.woff") format('woff'), url("../fonts/GIfont.woff2") format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@import url("https://fonts.googleapis.com/css?family=Fira+Sans+Condensed:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic");
@import url("https://fonts.googleapis.com/css?family=Fira+Sans:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic");