:root {
	--trn: 300ms ease;
	--0: #f1f1f1;
	--200: #c2c2cb;
	--500: #8d8e9a;
	--900: #292b39;
	--primary: #75c2ce;
}

.wrapper {
	height: 100%;
	overflow: auto;
	background-color: var(--900);
	scrollbar-gutter: stable;

	&::-webkit-scrollbar {
		width: 16px;
		background-color: #20212a;

		&-thumb {
			background-color: var(--primary);
			border: 4px solid #20212a;
			border-radius: 8px;

			&:hover {
				background-color: #91d6e1;
			}

			&:active {
				background-color: #57a1ad;
			}
		}
	}
}

.container {
	max-width: 1640px;
	padding: 0 20px;
	margin: 0 auto;
	width: 100%;
}

/* buttons */

.button {
	border-radius: 4px;
	font-weight: 500;
	text-transform: uppercase;
	transition: 350ms;
	padding: 1px;

	@media (max-width: 1024px) {
		font-size: 12px;
	}

	&__wrapper {
		padding: 11px 19px;
		border-radius: 3px;

		@media (max-width: 1024px) {
			padding: 9px 11px;
		}
	}

	&_primary {
		background-color: var(--primary);
		color: var(--900);

		.button__wrapper {
			border: 1px solid #53939d;
		}
	}

	&_secondary {
		background-color: var(--200);
		color: var(--900);

		.button__wrapper {
			border: 1px solid var(--500);
		}
	}

	&:hover {
		opacity: 0.75;
		scale: 0.95;
	}
}

.page {
	padding: 20px 0 0 0;
}

.header {
	padding: 48px 0;
	width: 100%;
	background-color: rgba(41, 43, 57, 0.95);
	position: sticky;
	top: 0;
	left: 0;
	z-index: 10;

	&__container {
		display: flex;
		justify-content: space-between;

		&>div:not([class]) {
			display: flex;
			align-items: center;
			gap: 16px;

			@media (max-width: 1400px) {
				&>.switcher {
					display: none;
				}
			}
		}

		@media (max-width: 1400px) {
			&>.navbar {
				display: none;
			}
		}
	}

	&__logo {
		font-size: 32px;
		color: var(--0);
		font-weight: 900;
		transition: var(--trn);
		margin: 0 20px 0 0;

		@media (max-width: 1024px) {
			font-size: 24px;
		}

		span {
			color: var(--primary);
		}

		&:hover {
			scale: 0.95;
			opacity: 0.8;
		}
	}

	&-burger {
		&-menu {
			display: none;
			position: relative;

			&::before,
			&::after {
				content: '';
			}

			&::before,
			span,
			&::after {
				width: 24px;
				height: 2px;
				border-radius: 1px;
				background-color: var(--0);
				position: absolute;
				left: 7px;
				translate: 0 -50%;
				transition: 500ms;
			}

			&::before {
				width: 18px;
				top: calc(50% - 8px);
			}

			span {
				top: 50%;
			}

			&::after {
				top: calc(50% + 8px);
			}

			&.active {
				&::before {
					width: 24px;
					top: 50%;
					rotate: 225deg;
					transition: 550ms 150ms;
				}

				span {
					scale: 0 1;
				}

				&::after {
					top: 50%;
					rotate: -45deg;
				}
			}

			@media (max-width: 1400px) {
				display: block;
				width: 40px;
				height: 40px;
			}
		}

		&-content {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 11;
			display: flex;
			opacity: 0;
			visibility: hidden;
			transition: 250ms 250ms;

			&.active {
				opacity: 1;
				visibility: visible;
				transition: 250ms;

				& .header-burger-content {
					&__area {
						opacity: 1;
						visibility: visible;
						transition: 250ms 250ms;
					}

					&__body {
						translate: 0;
						transition: 250ms;
					}
				}
			}

			&__area {
				flex: 1 1 auto;
				background-color: rgba(41, 43, 57, 0.7);
				opacity: 0;
				visibility: hidden;
				transition: 250ms;
			}

			&__body {
				background-color: var(--900);
				border-left: 1px solid #4d5060;
				padding: 50px 24px;
				translate: 20% 0;
				transition: 250ms 250ms;
				position: relative;
			}

			&__wrapper {
				display: flex;
				flex-direction: column;

				.navbar {
					margin: 40px 0 0 0;

					&__list {
						display: flex;
						flex-direction: column;
						align-items: flex-end;
						gap: 16px;
					}
				}
			}

			&__close {
				width: 40px;
				height: 40px;
				position: relative;
				align-self: flex-end;

				&::before,
				&::after {
					content: '';
					width: 24px;
					height: 2px;
					border-radius: 1px;
					background-color: var(--0);
					left: 7px;
					top: 50%;
					translate: 0 -50%;
					position: absolute;
				}

				&::before {
					rotate: 45deg;
				}

				&::after {
					rotate: -45deg;
				}
			}

			&__switchers {
				margin: 52px 0 0 0;
				display: flex;
				flex-direction: column;
				gap: 12px;

				.switcher {
					flex-direction: row-reverse;
				}
			}

			.easter-egg {
				font-weight: 900;
				color: var(--0);
				opacity: 0.025;
				position: absolute;
				bottom: 0;
				right: 0;
				pointer-events: none;
				font-size: 12px;
			}
		}
	}
}

.animate-out {
	animation: fadeOut 0.25s ease forwards 0.35s;

	@keyframes fadeOut {
		from {
			opacity: 1;
		}

		to {
			opacity: 0;
			visibility: hidden;
		}
	}
}

.navbar {
	&__list {
		display: flex;
		align-items: center;
		height: 100%;
		gap: 40px;

		@media (max-width: 1340px) {
			gap: 20px;
		}
	}

	&__link {
		font-size: 16px;
		font-weight: 500;
		color: var(--0);
		opacity: 0.5;
		transition: var(--trn);
		cursor: pointer;

		&.active {
			opacity: 1;
		}

		&:hover {
			opacity: 0.75;
		}
	}
}

.progress-bar {
	$gap: 8px;
	display: flex;
	flex-wrap: wrap;
	gap: $gap;
	padding: 0 0 24px 0;
	border-bottom: 1px solid var(--500);

	@media (max-width: 1340px) {
		$gap: 4px;
		gap: $gap;
	}

	&-item {
		$items: 5;
		$gap: 8px;
		flex: 0 0 calc((100%/$items) - ($gap - $gap/$items));
		background-color: #3d4052;
		border-radius: 4px;
		padding: 2px;
		position: relative;
		cursor: pointer;
		transition: var(--trn);
		opacity: 0.8;
		scale: 0.935;

		@media (max-width: 1640px) {
			$items: 4;
			flex: 0 0 calc((100%/$items) - ($gap - $gap/$items));
		}

		@media (max-width: 1340px) {
			$items: 3;
			flex: 0 0 calc((100%/$items) - ($gap - $gap/$items));
		}

		@media (max-width: 820px) {
			$items: 2;
			flex: 0 0 calc((100%/$items) - ($gap - $gap/$items));
		}

		@media (max-width: 560px) {
			$items: 1;
			flex: 0 0 calc((100%/$items) - ($gap - $gap/$items));
		}

		&:hover {
			opacity: 0.5;
			scale: 0.95;
		}

		&__wrapper {
			border-radius: 3px;
			padding: 12px;
			display: flex;
			gap: 12px;
			border: 1px solid #4d5060;
			position: relative;
			z-index: 1;

			@media (max-width: 1024px) {
				padding: 8px;
				gap: 8px;
			}
		}

		&__background {
			width: calc(100% - 8px);
			height: calc(100% - 8px);
			position: absolute;
			z-index: 0;
			top: 4px;
			left: 4px;

			div {
				width: 100%;
				height: 100%;
				background: linear-gradient(90deg, rgba(61, 64, 82, 0.95) 30%, rgba(61, 64, 82, 0) 110%);
				position: absolute;
				top: 0;
				left: 0;
				z-index: 1;
			}

			img {
				position: absolute;
				top: 0;
				left: 0;
				z-index: 0;
				width: 100%;
				height: 100%;
				border-radius: 2px;
				object-fit: cover;
				opacity: 0.65;
			}
		}

		&__icon {
			width: 64px;
			height: 64px;

			@media (max-width: 1024px) {
				width: 48px;
				height: 48px;
			}

			@media (max-width: 560px) {
				width: 58px;
				height: 58px;
			}
		}

		&__content {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			flex: 1 1 auto;
		}

		&__name {
			font-family: 'Fira Sans Condensed';
			color: var(--0);
			font-weight: 500;
			font-size: 16px;
			padding: 0 0 8px 0;
			border-bottom: 1px solid var(--900);

			@media (max-width: 1024px) {
				font-size: 14px;
				padding: 0 0 4px 0;
			}

			@media (max-width: 560px) {
				font-size: 16px;
				letter-spacing: 0.5px;
				padding: 0 0 8px 0;
			}
		}

		&__progress {
			padding: 8px 0 0 0;

			@media (max-width: 1024px) {
				padding: 4px 0 0 0;
			}

			@media (max-width: 560px) {
				padding: 8px 0 0 0;
			}

			&-text {
				display: flex;
				align-items: center;
				gap: 6px;
				margin: 0 0 6px 0;

				@media (max-width: 1024px) {
					gap: 4px;
				}

				@media (max-width: 560px) {
					gap: 6px;
				}

				img {
					width: 16px;

					@media (max-width: 1024px) {
						width: 12px;
					}

					@media (max-width: 560px) {
						width: 16px;
					}
				}

				span {
					font-size: 12px;
					color: var(--0);

					@media (max-width: 1024px) {
						font-size: 10px;
					}

					@media (max-width: 560px) {
						font-size: 13px;
					}
				}

				b {
					transition: var(--trn);
					text-shadow: 1px 1px 5px var(--900);

					@media (max-width: 1024px) {
						font-size: 12px;
					}

					@media (max-width: 560px) {
						font-size: 14px;
					}
				}

				div {
					flex: 1 1 auto;
					display: flex;
					justify-content: space-between;
					align-items: center;
				}
			}

			&-line {
				margin: 4px 0 0 0;
				height: 2px;
				border-radius: 1px;
				background-color: var(--900);

				div {
					background-color: var(--0);
					height: 100%;
					border-radius: 1px;
					transition: var(--trn);
				}
			}
		}

		&.active {
			opacity: 1;
			scale: 1;

			.progress-bar-item__wrapper {
				border-color: rgba(241, 241, 241, 0.25);
			}
		}
	}
}

.quests {
	padding: 0 0 80px 0;

	@media (max-width: 1024px) {
		padding: 0 0 40px 0;
	}

	&__loader {
		padding: 100px 0;
		display: flex;
		justify-content: center;
	}

	&__complete {
		padding: 60px calc(0px + 300 * ((100vw - 1024px) / (1920 - 1024)));

		@media (max-width: 1024px) {
			padding: 40px 0;
			font-size: 24px;
		}

		@media (max-width: 768px) {
			font-size: 18px;
		}

		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		color: var(--0);
		font-weight: 500;
		font-size: 32px;
		line-height: 1.35;

		@media (max-width: 768px) {}
	}
}

.quest {
	&-block {
		margin: 48px 0 0 0;

		@media (max-width: 1340px) {
			margin: 24px 0 0 0;
		}

		&__name {
			display: flex;
			align-items: center;
			gap: 12px;
			font-size: 32px;
			color: var(--0);
			font-weight: 600;

			@media (max-width: 1340px) {
				font-size: 24px;
			}

			img {
				width: 52px;
				height: 52px;

				@media (max-width: 1340px) {
					width: 40px;
					height: 40px;
				}
			}

			div {
				font-weight: 500;
				font-size: 20px;
				padding: 6px 0 0 0;
				opacity: 0.5;

				@media (max-width: 1340px) {
					font-size: 18px;
					padding: 4px 0 0 0;
				}
			}
		}

		&__content {
			margin: 24px 0 0 0;
			display: flex;
			flex-wrap: wrap;
			gap: 6px;

			@media (max-width: 1340px) {
				margin: 16px 0 0 0;
			}

			@media (max-width: 1024px) {
				gap: 4px;
			}
		}
	}

	&-item {
		flex: 0 0 calc(50% - (6px - 6px/2));
		background-color: #3d4052;
		border-radius: 4px;
		padding: 2px;
		transition: 350ms;

		@media (max-width: 768px) {
			flex: 0 0 calc(100%);
		}

		&_hidden {
			opacity: 0;
			visibility: hidden;
		}

		&__reputation {
			width: 18px;
			position: relative;
			display: inline-block;
			margin: 0 0 0 12px;

			&::before,
			&::after {
				content: '';
				width: 16px;
				height: 16px;
				position: absolute;
				top: 50%;
				left: 50%;
				translate: -50% -50%;
				border: 1px solid var(--0);
				z-index: 0;
				opacity: 0.3;
			}

			&:before {
				rotate: 45deg;
			}

			&::after {
				width: 18px;
				height: 18px;
			}

			img {
				position: relative;
				z-index: 1;
				width: 100%;
				translate: 0 5px;
			}
		}

		&__content {
			flex: 1 1 auto;
		}

		&__actions {
			display: flex;
			flex-direction: column;
			gap: 8px;
		}

		&__wrapper {
			border-radius: 3px;
			border: 1px solid #4d5060;
			padding: 20px;
			gap: 24px;
			height: 100%;
			display: flex;
			justify-content: space-between;
			transition: 350ms;

			@media (max-width: 1024px) {
				padding: 14px;
			}
		}

		&__name {
			color: var(--0);
			font-size: 22px;
			line-height: 1.25;
			font-weight: 500;

			@media (max-width: 1024px) {
				font-size: 18px;
			}
		}

		&__source {
			color: var(--0);
			font-size: 16px;
			line-height: 1.35;
			opacity: 0.5;
			margin: 12px 0 0 0;

			@media (max-width: 1024px) {
				font-size: 14px;
				margin: 8px 0 0 0;
			}
		}

		&__link {
			display: inline-block;
			color: var(--primary);
			position: relative;
			margin: 24px 0 0 0;
			font-size: 16px;

			@media (max-width: 1024px) {
				margin: 16px 0 0 0;
				font-size: 14px;
			}

			&::before {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 1px;
				background-color: var(--primary);
				transition: var(--trn);
			}

			&:hover {
				&::before {
					width: 0;
				}
			}
		}

		&-check {
			cursor: pointer;
			display: inline-block;
			transition: var(--trn);

			button {
				background-color: transparent;
			}

			&:hover {
				opacity: 0.7;
			}

			&__box {
				width: 40px;
				height: 40px;
				border-radius: 20px;
				background-color: var(--900);
				padding: 2px;
			}

			&__wrapper {
				width: 100%;
				height: 100%;
				border-radius: 20px;
				border: 1px solid #4d5060;
				position: relative;
				display: flex;
				justify-content: center;
				align-items: center;

				&::before {
					content: '';
					width: 31px;
					height: 31px;
					position: absolute;
					top: 50%;
					left: 50%;
					translate: -50% -50%;
					background-color: #667a67;
					border-radius: 20px;
					z-index: 0;
					opacity: 0;
					visibility: hidden;
					transition: var(--trn);
				}

				svg {
					position: relative;
					z-index: 1;
					opacity: 0.25;
					scale: 0.65;
					transition: var(--trn);

					path {
						fill: var(--0);
					}
				}
			}

			input {
				display: none;

				&:checked {
					&+.quest-item-check__box {
						.quest-item-check__wrapper {
							&::before {
								opacity: 1;
								visibility: visible;
							}

							svg {
								scale: 1;
								opacity: 1;
							}
						}
					}
				}
			}

			&:not(.quest-item-check__inprogress) {
				.quest-item-check__wrapper {
					svg {
						scale: 1;

						path {
							fill: none;
							stroke-dasharray: 24 24;
							stroke-dashoffset: 24;
							stroke: var(--0);
							transition: stroke-dashoffset 0.35s ease-out;
						}
					}
				}

				input:checked+.quest-item-check__box {
					.quest-item-check__wrapper {
						svg {
							opacity: 1;

							path {
								stroke-dashoffset: 0;
							}
						}
					}
				}
			}

			&__inprogress {
				.quest-item-check__wrapper {
					&::before {
						background-color: #8e8b6c;
					}

					svg {
						width: 18px;
					}
				}

				input {
					&:checked {
						&+.quest-item-check__box {
							.quest-item-check__wrapper {
								svg {
									rotate: 180deg;
								}
							}
						}
					}
				}

				&:hover {
					.quest-item-check__wrapper {
						svg {
							rotate: 180deg;
						}
					}
				}
			}
		}
	}
}

/* admin mode */

.admin-mode {
	.quest-item {
		cursor: pointer;

		&:hover:not(.quest-item__new) {
			.quest-item {
				&__wrapper {
					border-color: #666a7c;
				}
			}
		}
	}
}

.context-menu {
	position: fixed;
	padding: 2px;
	background-color: #3d4052;
	border-radius: 4px;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);

	&__wrapper {
		border-radius: 3px;
		border: 1px solid #4d5060;
		padding: 8px;
		display: flex;
		flex-direction: column;
		gap: 2px;
	}

	&__item {
		width: 240px;
		height: 36px;
		display: flex;
		align-items: center;
		gap: 8px;
		padding: 0 8px;
		transition: 350ms;
		border-radius: 4px;

		&:hover {
			background-color: rgba(255, 255, 255, 0.025);

			.context-menu {
				&__icon svg path {
					opacity: 1;
				}

				&__label {
					opacity: 1;
				}
			}
		}
	}

	&__icon {
		width: 20px;
		height: 20px;
		display: flex;
		justify-content: center;
		align-items: center;

		svg {
			width: 20px;

			path {
				fill: var(--0);
				opacity: 0.4;
				transition: 350ms;
			}
		}
	}

	&__label {
		color: var(--0);
		opacity: 0.4;
		transition: 350ms;
	}
}

.quest-block {
	&__subregion {
		&-header {
			padding: 0 0 0 32px;
			font-size: 24px;
			font-weight: 500;
			color: var(--500);
			margin: 32px 0 0 0;
			position: relative;
			display: flex;

			@media (max-width: 1024px) {
				font-size: 18px;
				padding: 0 0 0 24px;
			}

			.quest-item__reputation img {
				translate: 0 3px;
			}

			&::before {
				content: '';
				width: 12px;
				height: 12px;
				position: absolute;
				left: 4px;
				top: 50%;
				translate: 0 -50%;
				border: 1px solid var(--500);
				rotate: 45deg;

				@media (max-width: 1024px) {
					width: 10px;
					height: 10px;
				}
			}

			&::after {
				content: '';
				width: 6px;
				height: 6px;
				position: absolute;
				left: 8px;
				top: 50%;
				translate: 0 -50%;
				background-color: var(--500);
				rotate: 45deg;

				@media (max-width: 1024px) {
					width: 4px;
					height: 4px;
				}
			}
		}
	}
}

/* loader */

.loader {
	width: 48px;
	height: 48px;
	border: 3px dotted var(--0);
	border-style: solid solid dotted dotted;
	border-radius: 50%;
	display: inline-block;
	position: relative;
	box-sizing: border-box;
	animation: rotation 2s linear infinite;

	&::after {
		content: '';
		box-sizing: border-box;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto;
		border: 3px dotted var(--primary);
		border-style: solid solid dotted;
		width: 24px;
		height: 24px;
		border-radius: 50%;
		animation: rotationBack 1s linear infinite;
		transform-origin: center center;
	}
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@keyframes rotationBack {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(-360deg);
	}
}

/* switcher */

.switcher {
	display: flex;
	align-items: center;
	gap: 8px;
	cursor: pointer;

	&__origin {
		width: 24px;
		height: 24px;
		background-color: #3d4052;
		border-radius: 4px;
		padding: 1px;

		div {
			border-radius: 3px;
			width: 100%;
			height: 100%;
			border: 1px solid #4d5060;
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;

			&::before {
				content: '';
				width: 16px;
				height: 16px;
				border-radius: 3px;
				position: absolute;
				z-index: 0;
				top: 50%;
				left: 50%;
				translate: -50% -50%;
				background-color: #5f6275;
				opacity: 0;
				visibility: hidden;
				transition: 350ms;
			}

			svg {
				position: relative;
				z-index: 1;
				width: 12px;
				opacity: 0;
				visibility: hidden;
				scale: 0.6;
				transition: 350ms;

				path {
					stroke: var(--0);
				}
			}
		}
	}

	&__text {
		font-size: 16px;
		color: var(--0);
		opacity: 0.5;
		transition: 350ms;

		&:hover {
			opacity: 0.75;
		}
	}

	input {
		display: none;

		&:checked+.switcher__origin {
			div {
				&::before {
					opacity: 1;
					visibility: visible;
				}

				svg {
					opacity: 1;
					visibility: visible;
					scale: 1;
				}
			}

			&+.switcher__text {
				opacity: 1;
			}
		}
	}
}

/* save */

.save {
	&__container {
		display: flex;
		gap: 40px;

		@media (max-width: 996px) {
			flex-direction: column;
			gap: 24px;
		}
	}

	&__actions {
		display: flex;
		flex-direction: column;
		gap: 24px;
	}

	&__buttons {
		display: flex;
		gap: 20px;
	}

	&-import,
	&-export {
		flex: 0 0 auto;
	}

	&__description {
		flex: 1 1 60%;
		font-size: 18px;
		color: var(--0);
		background-color: #3d4052;
		border-radius: 4px;
		padding: 1px;
		line-height: 1.4;

		@media (max-width: 1024px) {
			font-size: 14px;
		}

		&-wrapper {
			border: 1px solid #4d5060;
			border-radius: 3px;
			padding: 24px;

			p {
				margin-top: 1em;
				opacity: 0.8;
			}
		}
	}

	&-import {
		display: flex;
		flex-direction: column;
		gap: 12px;

		input {
			display: none;
		}

		@media (max-width: 1024px) {
			font-size: 12px;
		}

		&__success {
			color: #6fe279;
			font-weight: 500;
		}

		&__error {
			color: #e26f6f;
			font-weight: 500;
			max-width: 200px;
			line-height: 1.25;
		}
	}
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 12;
	background-color: rgba(22, 23, 25, 0.75);
	overflow: auto;
	overscroll-behavior: contain;

	&__body {
		min-height: 100%;
		padding: 20px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__content {
		max-width: 768px;
		width: 100%;
		position: relative;
		padding: 36px 32px;
		border-radius: 20px;
		background-color: var(--0);
	}

	&__close {
		position: absolute;
		right: 32px;
		top: 28px;
		width: 32px;
		height: 32px;
		cursor: pointer;

		&::before,
		&::after {
			content: '';
			width: 28px;
			height: 4px;
			border-radius: 2px;
			background-color: var(--500);
			position: absolute;
			top: 50%;
			left: 50%;
			transition: 350ms;
			translate: -50% -50%;
		}

		&::after {
			rotate: 45deg;
		}

		&::before {
			rotate: -45deg;
		}

		&:hover {

			&::before,
			&::after {
				background-color: var(--900);
			}
		}
	}
}

.migration {
	width: auto;
	overflow: hidden;

	&__complete {
		position: absolute;
		top: 50%;
		left: 50%;
		translate: -50% -50%;
		opacity: 0;
		visibility: hidden;
		transition: 350ms;
		z-index: 2;
		font-weight: 900;
		font-size: 24px;
		color: var(--900);

		&--active {
			opacity: 1;
			visibility: visible;
			transition: 350ms 1s;
		}
	}

	.button {
		span.circle {
			width: 50px;
			height: 50px;
			border-radius: 1000px;
			position: absolute;
			z-index: 0;
			background-color: #75c2ce;
			translate: -50% -50%;
			animation: animate 1s ease-in forwards;

			@keyframes animate {
				to {
					width: 2200px;
					height: 2200px;
				}
			}
		}

		&_primary {
			&:hover {
				scale: none;
				opacity: 1;
			}
		}
	}

	.patch {
		&__header {
			border-bottom: 0;
			justify-content: center;
			padding: 0 0 32px 0;
		}
	}

	&__content {
		&--animate {
			pointer-events: none;
		}
	}

	&__body {
		display: flex;
		flex-direction: column;
		gap: 24px;
	}

	&__text {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		transition: 350ms;

		p {
			text-indent: 20px;
			color: var(--900);
			opacity: 0.5;
			font-size: 16px;
			line-height: 1.35;
			font-family: 'TT_Skip-E 85W';
		}

		&--minified {
			scale: 0.95;
			opacity: 0.5;

			p {
				font-size: 14px;
			}
		}

		&--hidden {
			display: none;
		}
	}

	&__footer {
		margin: 32px 0 0 0;
		display: flex;
		justify-content: center;
		gap: 24px;
	}
}

.patch {
	&__content {
		display: flex;
		flex-direction: column;
		gap: 60px;
	}

	&__header {
		padding: 0 0 20px 0;
		border-bottom: 1px solid var(--500);

		display: flex;
		align-items: center;
		gap: 8px;
	}

	&__title {
		font-size: 24px;
		text-transform: uppercase;
		color: var(--900);

		span {
			&.select {
				color: #f0e2b4;
				text-shadow: 1px 1px 0px #e6aa4f,
					-1px 1px 0px #e6aa4f,
					1px -1px 0px #e6aa4f,
					-1px -1px 0px #e6aa4f;
			}

			&.num {
				font-weight: 900;
			}
		}
	}

	&__body {
		padding: 20px 0 0 0;
	}

	&__list {
		font-size: 16px;
		line-height: 1.25;
		color: var(--500);

		li {
			list-style-type: disc;
			list-style-position: inside;

			margin: 1em 0 0 0;

			&:first-of-type {
				margin: 0;
			}
		}
	}

	&__label {
		height: 24px;
		padding: 0 5px 0 6px;
		border-radius: 3px;
		line-height: 22px;
		text-transform: uppercase;
		font-size: 10px;
		color: #e6aa4f;
		font-weight: 700;
		background-color: #f0e2b4;
		border: 2px solid #e6aa4f;
		position: relative;

		.star {
			position: absolute;
			right: -1px;
			top: -1px;
			translate: 50% -50%;

			path {
				fill: #e6aa4f;
			}

			animation: star 3s ease infinite;

			@keyframes star {

				0%,
				100% {
					opacity: 0;
				}

				40%,
				60% {
					opacity: 1;
				}
			}

			&-2 {
				right: auto;
				top: auto;
				translate: -50% 50%;
				scale: 0.7;
				left: -1px;
				bottom: -1px;
				animation: star 4s ease infinite 0.5s;
			}

			&-3 {
				right: 9px;
				top: -11px;
				scale: 0.8;
				animation: star 2.5s ease infinite 1.5s;
			}
		}
	}
}

.search-line {
	width: 100%;
	margin: 40px 0 0 0;
	display: flex;

	&__icon {
		height: 100%;
		aspect-ratio: 1 / 1;
		display: flex;
		justify-content: center;
		align-items: center;
		border: 1px solid #4d5060;
		border-radius: 3px;

		svg {
			width: 28px;
			height: 28px;

			path {
				fill: var(--500);
			}
		}
	}

	&__input-wrapper {
		flex: 1 1 auto;
		background-color: #3d4052;
		gap: 2px;
		padding: 2px;
		border-radius: 4px;
		display: flex;

		input {
			width: 100%;
			border-radius: 3px;
			background-color: transparent;
			border: 1px solid #4d5060;
			padding: 16px 20px;
			color: var(--0);
			font-size: 20px;
			font-weight: 500;
			transition: 350ms;

			&::placeholder {
				color: var(--500);
			}

			&:focus {
				border: 1px solid #7c7f92;
			}
		}
	}
}